[Desktop Entry]
Encoding=UTF-8
Name=Divel Write
Comment=Divel Write is a fast text editor
Exec=DivelWrite
Terminal=false
Type=Application
Categories=Utilities
